<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    
                    <a class="nav-link" routerLink="add"   data-toggle="pill"  role="tab"  routerLinkActive="active" ><i class="fa fa-plus-square" ></i>Agregar producto</a>
                    <a class="nav-link" routerLink="editar"   data-toggle="pill"  role="tab"  routerLinkActive="active" ><i class="fa fa-wrench"></i>Actualizar producto</a>
                    <a class="nav-link" routerLink="usuarios"   data-toggle="pill"  role="tab"  routerLinkActive="active" ><i class="fa fa-users"></i>Usuarios</a>
                    
                </div>
               
            
        </div>
        <div class="cl-md-9">
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>