
<div class="add">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">    
               
                    <form [formGroup]="productForm">                       
                            <div class="col-md-12">
                                <label>Nombre del Producto*</label>
                                <input class="form-control" type="text" name="nombres del producto" placeholder="Nombre del producto" formControlName="nombreArticulo" >
                            </div>
                            <div class="col-md-12">
                                <label>Descripción*</label>
                                <br>
                               <textarea cols="30" rows="10" class="form-contol" placeholder="Descripcion" formControlName="descripcion"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label>Precio*</label>
                                <input class="form-control" type="number" name="precio" placeholder="$" formControlName="precio" >
                            </div>
                           
                            <div class="col-md-12">
                                <label>Url de la imagen*</label>
                                <input class="form-control" type="url" name="enlace" placeholder="Url" formControlName="imagen" >
                            </div>

                            <div class="col-md-12">
                                <label >Categoria*</label>
                                <select class="form-control" type="text" formControlName="idCategoria">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let categoria of idCategoria" value="{{categoria.idCategoria}}">{{categoria.nombre}}</option>
                                </select>
                            </div>
                            
                            <div>
                                <button class="btn" [disabled]="productForm.invalid" (click)="validar()">Guardar</button>
                                
                            </div>
                                
                     
                        
                        </form>
                
            </div>
            
        </div>
    </div>
</div>