  <!-- Footer Start -->
  <div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Contáctanos</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>HappyShop, Norte de Santander , Colombia</p>
                        <p><i class="fa fa-envelope"></i><a target="_black" href="mailTo:{{_infoPagina.info.email}}">{{_infoPagina.info.email}}</a></p>
                        <p> <i class="fa fa-phone"> </i><a href="https://t.me/+p80eYEi8f0tjMzIx"> Telegram</a> </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Síguenos</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a target="_black" [href]="_infoPagina.info.twitter"><i class="fab fa-twitter"></i></a>
                            <a target="_black" [href]="_infoPagina.info.facebook"><i class="fab fa-facebook-f"></i></a>                            
                            <a target="_black" [href]="_infoPagina.info.instagram"><i class="fab fa-instagram"></i></a>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Información</h2>
                    <ul>
                        <li><a routerLink="nosotros">Sobre nosotros</a></li>
                        <li><a routerLink="politica-privacidad">Política de privacidad</a></li>
                        <li><a routerLink="terminos-condiciones">Términos y condiciones</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Información de compra</h2>
                    <ul>
                        <li><a routerLink="politica-pago">Política de pago</a></li>
                        <li><a routerLink="politica-envio">Política de envíos</a></li>
                        <li><a routerLink="politica-retorno">Política de devoluciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>Aceptamos:</h2>
                    <img src="assets/img/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Asegurado por:</h2>
                    <img src="assets/img/godaddy.svg" alt="Payment Security" />
                    <img src="assets/img/norton.svg" alt="Payment Security" />
                    <img src="assets/img/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="#">HappyShop</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->
