/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border: solid 2px red !important;
    background-color: rgb(255, 228, 224) !important;
}

select.ng-invalid.ng-dirty{
    border: solid 2px red !important;
    background-color: rgb(255, 228, 224) !important;
}